<section class="two-way-binding">
    <article>
        <h3>Two-way data binding</h3>
        <div>
          
          <input id="nome1" type="text" 
            [value]="nome"
            (input)="nome = $event.target.value"
          />

          <input id="nome2" type="text" 
            [ngModel]="nome"
            (ngModelChange)="nome = $event"
          />

          <input id="nome3" type="text" [(ngModel)]="nome">

          <input id="nome4" type="text" bindon-ngModel="nome">

          <p>Você digitou: {{ nome }}</p>
        </div>

        <div>

          <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade.</p>

          <input id="pessoa_nome" type="text" [(ngModel)]="pessoa.nome">
          <input id="pessoa_idade" type="text" [(ngModel)]="pessoa.idade">

        </div>
    </article>
</section>